/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:20px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s1 {font-family:Arial;font-weight:bold;font-style:normal;font-size:28px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s2 {font-family:Arial;font-weight:bold;font-style:normal;font-size:24px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s3 {font-family:Arial;font-weight:bold;font-style:normal;font-size:20px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
